<div data-id='{{data.post._id}}' class='post-container'>
  <form id="update-post">
    <input name="post[title]" type="text" placeholder="Post Title">
    <textarea name="post[content]" placeholder="Post Body" rows="5" cols="32"></textarea>
    <button class="btn">Update post</button>
  </form>
  <h1>{{ data.post.title }}</h1>
  <p>{{ data.post.content }}</p>
  {{!-- TODO: refactor opportunity - make Comments and CommentsList its own components/handlebars  --}}
  <button id="delete-btn">Delete this post</button>
  <h1>Comments</h1>
  <h2>New Comment Form</h2>
  <form id="new-comment">
    <textarea name="comment[content]" placeholder="Comment Body" id="new-comment-body" rows="5" cols="32"></textarea>
    <button class="btn">Create new comment</button>
  </form>
  {{#each data.post.comments as |comment|}}
  <div data-id='{{comment._id}}' data-author='{{comment.author}}' class="comment-container">
    {{comment.content}}
    <form class="update-comment">
      <textarea name="comment[content]" placeholder="Comment Body" rows="5" cols="32"></textarea>
      <button class="btn">Update comment</button>
    </form>
    <button class="delete-comment">Delete this comment</button>
  </div>
  {{else}}
  No comments yet
  {{/each}}
</div>